<plugin
  xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-bbdpowwow"
  version="1.0.0">

  <name>Powwow Blackberry Dynamics</name>

  <description>Powwow plugin for Blackberry Dynamics</description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <platform name="ios">
  </platform>

</plugin>
